# Font MIME types
AddType application/font-woff        .woff
AddType application/font-woff2       .woff2
AddType application/x-font-ttf       .ttf
AddType application/x-font-opentype  .otf
AddType application/vnd.ms-fontobject .eot

# Allow fonts to be served cross-origin
<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
  Header set Access-Control-Allow-Origin "*"
</FilesMatch>
